<launch>
    <!--    use roslaunch in other terminal-->
    <!--    <include file="$(find qz_hw)/launch/load_qz_hw.launch"/>-->
    <include file="$(find diablo_hw)/launch/load_diablo_hw.launch"/>

    <include file="$(find upright_asset)/launch/load_hw.launch"/>
    <include file="$(find upright_asset)/launch/load_controller.launch"/>
    <include file="$(find upright_asset)/launch/rviz_target.launch"/>
</launch>