<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm">
    <xacro:include filename="$(find upright_asset)/description/urdf/manipulator/common.xacro"/>
    <!--    <xacro:include filename="$(find upright_asset)/description/urdf/common/materials.xacro"/>-->

    <xacro:create_link name="arm_base_link" mass="6.722526"
                       ixx="49640000" ixy="-6571.312" ixz="-906.394"
                       iyy="38820000" iyz="211.811" izz="83030000"
                       mesh_file="package://upright_asset/description/meshes/manipulator/base_link.stl"
                       material_name="silver"
                       inertial_xyz="0.00006 -0.000046 0.0129"/>

    <xacro:create_link name="link1" mass="1.103721"
                       ixx="572600" ixy="-54.105" ixz="-3.821"
                       iyy="495300" iyz="12915.759" izz="538300"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link1.stl"
                       material_name="silver"
                       inertial_xyz="0.000002 -0.00531 0.034685"/>

    <xacro:create_link name="link2" mass="0.2"
                       ixx="383700" ixy="-26179.433" ixz="693.218"
                       iyy="1888000" iyz="-585.018" izz="2050000"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link2.stl"
                       material_name="silver"
                       inertial_xyz="-0.197351 -0.002165 0.000057"/>

    <xacro:create_link name="link3" mass="0.903213"
                       ixx="1204000" ixy="-51994.358" ixz="-2550000"
                       iyy="11300000" iyz="-16633.832" izz="10760000"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link3.stl"
                       material_name="silver"
                       inertial_xyz="0.100486 -0.002073 0.028338"/>


    <xacro:create_link name="link4" mass="0.056678"
                       ixx="1262.246" ixy="32.61" ixz="-553.334"
                       iyy="1346.829" iyz="41.18" izz="975.984"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link4.stl"
                       material_name="silver"
                       inertial_xyz="0.02969 0.00192 0.03765"/>

    <xacro:create_link name="link5" mass="0.598593"
                       ixx="735400" ixy="-449.048" ixz="37386.443"
                       iyy="732800" iyz="-210.043" izz="238600"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link5.stl"
                       material_name="silver"
                       inertial_xyz="0.001992 -0.000088 -0.053421"/>

    <xacro:create_link name="link6" mass="0.001" ixx="10.630412" ixy="-1.068E-10" ixz="83.57" iyy="8414.108" iyz="0.00"
                       izz="6931.832" mesh_file="package://upright_asset/description/meshes/manipulator/link6.stl"
                       material_name="silver"/>

    <!-- Joint definitions -->
    <xacro:create_joint name="joint1" type="revolute" parent="arm_base_link" child="link1" origin_xyz="0 0 0.07925"
                        origin_rpy="0 0 0" axis_xyz="0 0 1" lower="-1.57" upper="1.57" effort="150" velocity="1.5"/>
    <xacro:create_joint name="joint2" type="revolute" parent="link1" child="link2" origin_xyz="0 0 0.0365"
                        origin_rpy="0 0 0" axis_xyz="0 1 0" lower="0" upper="1.57" effort="150" velocity="1.5"/>
    <xacro:create_joint name="joint3" type="revolute" parent="link2" child="link3" origin_xyz="-0.220 0 0"
                        origin_rpy="0 0 0" axis_xyz="0 1 0" lower="-1.57" upper="0" effort="150" velocity="1.5"/>
    <xacro:create_joint name="joint4" type="revolute" parent="link3" child="link4" origin_xyz="0.220 0 0.057"
                        origin_rpy="0 0 0" axis_xyz="0 1 0" lower="-1.5" upper="0.5" effort="150" velocity="1.5"/>
    <xacro:create_joint name="joint5" type="revolute" parent="link4" child="link5" origin_xyz="0.0615 0 0.0825"
                        origin_rpy="0 0 0" axis_xyz="0 0 1" lower="-0.785" upper="0.785" effort="150" velocity="1.5"/>
    <xacro:create_joint name="joint6" type="revolute" parent="link5" child="link6" origin_xyz="0.0285 0 -0.0825"
                        origin_rpy="0 0 0" axis_xyz="1 0 0" lower="-1.57" upper="1.57" effort="150" velocity="1.5"/>
</robot>