<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo">
    <xacro:include filename="$(find upright_asset)/description/urdf/manipulator/common.xacro"/>

    <!-- Transmission definitions -->
    <xacro:create_transmission joint_name="joint1"/>
    <xacro:create_transmission joint_name="joint2" mechanical_reduction="-1"/>
    <xacro:create_transmission joint_name="joint3"/>
    <xacro:create_transmission joint_name="joint4" mechanical_reduction="-1"/>
    <xacro:create_transmission joint_name="joint5" mechanical_reduction="-1"/>
    <xacro:create_transmission joint_name="joint6"/>

    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>1000.0</updateRate>
            <bodyName>arm_base_link</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>
</robot>