<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="qz_arm">
    <!-- Include predefined materials -->
    <!--    <xacro:include filename="$(find upright_asset)/description/urdf/common/materials.xacro"/>-->
    <xacro:include filename="$(find upright_asset)/description/urdf/common/common.xacro"/>

    <!-- Link Definitions -->
    <xacro:create_link name="arm_base_link" mass="0.775915" ixx="0.000699851" ixy="5.34515E-06" ixz="1.76381E-06"
                       iyy="0.000855522" iyz="3.90737E-06" izz="0.00105822"
                       mesh_file="package://upright_asset/description/meshes/manipulator/base_link.STL"
                       material_name="grey"/>
    <xacro:create_link name="link1" mass="0.557107" ixx="0.000301325" ixy="-2.99504E-07" ixz="4.81746E-07"
                       iyy="0.000250218" iyz="1.49548E-05" izz="0.000325679"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link1.STL"
                       material_name="grey"/>
    <xacro:create_link name="link2" mass="0.646249" ixx="0.000351883" ixy="-7.83179E-05" ixz="8.22451E-05"
                       iyy="0.0019526" iyz="1.74745E-05" izz="0.00195686"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link2.STL"
                       material_name="grey"/>
    <xacro:create_link name="link3" mass="0.445563" ixx="0.00016737" ixy="-4.81066E-07" ixz="1.7795E-06"
                       iyy="0.000672323" iyz="-9.83781E-08" izz="0.000686599"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link3.STL"
                       material_name="grey"/>
    <xacro:create_link name="link4" mass="0.345885" ixx="0.000133803" ixy="-7.29532E-09" ixz="-2.46488E-07"
                       iyy="0.000121205" iyz="9.89248E-10" izz="0.00012501"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link4.STL"
                       material_name="grey"/>
    <xacro:create_link name="link5" mass="0.186636" ixx="0.000101781" ixy="-1.53593E-08" ixz="5.24141E-08"
                       iyy="8.27871E-05" iyz="-1.71996E-08" izz="8.59348E-05"
                       mesh_file="package://upright_asset/description/meshes/manipulator/link5.STL"
                       material_name="grey"/>
    <xacro:create_link name="link6" mass="0.174621" ixx="5.00435E-05" ixy="0" ixz="0" iyy="5.00435E-05" iyz="0"
                       izz="3.8504E-05" mesh_file="package://upright_asset/description/meshes/manipulator/link6.STL"
                       material_name="grey"/>
    <!--    <xacro:create_link name="Ee" mass="0.174621" ixx="5.00435E-05" ixy="0" ixz="0" iyy="5.00435E-05" iyz="0"-->
    <!--                       izz="3.8504E-05" mesh_file="package://upright_asset/description/meshes/manipulator/Ee.stl"-->
    <!--                       material_name="grey" origin_xyz="-0.04 0 0.04" origin_rpy="3.14 0 -1.57"-->
    <!--                       scale="0.001 0.001 0.001"/>-->
    <!-- Joint Definitions -->
    <xacro:create_joint name="joint1" type="revolute" parent="arm_base_link" child="link1" origin_xyz="0 0 0.1127"
                        origin_rpy="0 0 0" axis_xyz="0 0 1" lower="-3.14" upper="3.14" effort="110" velocity="110"/>
    <xacro:create_joint name="joint2" type="revolute" parent="link1" child="link2" origin_xyz="0 0 0"
                        origin_rpy="-1.5708 -0.38678 3.1416" axis_xyz="0 0 1" lower="-2.96" upper="0.17" effort="110"
                        velocity="110"/>
    <xacro:create_joint name="joint3" type="revolute" parent="link2" child="link3" origin_xyz="0.27009 1.3718E-05 0"
                        origin_rpy="0 0 -2.7548" axis_xyz="0 0 1" lower="-0.087" upper="3.14" effort="110"
                        velocity="110"/>
    <xacro:create_joint name="joint4" type="revolute" parent="link3" child="link4"
                        origin_xyz="0.30854 0.0027492 0.00019049" origin_rpy="-1.5708 0 -1.5708" axis_xyz="0 0 1"
                        lower="-2.96" upper="2.96" effort="110" velocity="110"/>
    <xacro:create_joint name="joint5" type="revolute" parent="link4" child="link5" origin_xyz="0 0 0"
                        origin_rpy="0 -1.5708 0" axis_xyz="0 0 1" lower="-1.74" upper="1.74" effort="110"
                        velocity="110"/>
    <xacro:create_joint name="joint6" type="revolute" parent="link5" child="link6" origin_xyz="0.0865 0 -0.0027486"
                        origin_rpy="0 1.5708 0" axis_xyz="0 0 1" lower="-3.14" upper="3.14" effort="110"
                        velocity="110"/>
    <!--    <xacro:create_joint name="Ee_fixed" type="fixed" parent="link6" child="Ee" origin_xyz="0.0 0 0.0"-->
    <!--                        origin_rpy="0 0 0"/>-->


</robot>
