<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="robot_type" default="diablo"/>

    <xacro:include filename="$(find upright_asset)/description/urdf/diablo/diablo.xacro"/>
    <xacro:include filename="$(find upright_asset)/description/urdf/diablo/gazebo.xacro"/>
    <!--    <xacro:include filename="$(find upright_asset)/description/urdf/diablo/imu.xacro"/>-->

</robot>
