<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="diablo_pinocchio">
    <!-- Include predefined materials -->
    <xacro:include filename="$(find upright_asset)/description/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find upright_asset)/description/urdf/common/common.xacro"/>
    <!-- Base Link -->
    <xacro:create_link name="diablo_base_link" mass="11.639" ixx="0.071628" ixy="-5.9879E-09" ixz="-0.00097471"
                       iyy="0.16274" iyz="-1.6369E-08" izz="0.14673"
                       mesh_file="package://upright_asset/description/meshes/diablo/base_link.STL"
                       material_name="grey"/>

    <xacro:create_link name="left_motor" mass="1.3837" ixx="0.003352" ixy="2.7785E-09" ixz="-6.5913E-05" iyy="0.0034908"
                       iyz="4.5045E-10" izz="0.0034856"
                       mesh_file="package://upright_asset/description/meshes/diablo/left_motor.STL"
                       material_name="silver"/>
    <xacro:create_link name="left_leg1" mass="0.10382" ixx="3.6972E-05" ixy="2.4106E-05" ixz="4.3699E-10"
                       iyy="0.00029278" iyz="-4.1243E-11" izz="0.00032532"
                       mesh_file="package://upright_asset/description/meshes/diablo/left_leg1.STL"
                       material_name="silver"/>
    <xacro:create_link name="left_leg2" mass="0.18218" ixx="4.1372E-05" ixy="5.1445E-09" ixz="-7.3659E-06"
                       iyy="0.00048219" iyz="2.5521E-11" izz="0.00050441"
                       mesh_file="package://upright_asset/description/meshes/diablo/left_leg2.STL"
                       material_name="silver"/>
    <xacro:create_link name="left_wheel" mass="2.9494" ixx="0.0069338" ixy="2.8693E-09" ixz="4.6779E-09" iyy="0.006934"
                       iyz="-5.0441E-11" izz="0.012567"
                       mesh_file="package://upright_asset/description/meshes/diablo/left_wheel.STL"
                       material_name="black"/>
    <xacro:create_link name="left_leg3" mass="0.071103" ixx="1.6657E-05" ixy="-5.5246E-06" ixz="3.9598E-14"
                       iyy="0.00017966" iyz="-6.5493E-15" izz="0.00019328"
                       mesh_file="package://upright_asset/description/meshes/diablo/left_leg3.STL"
                       material_name="brown"/>
    <xacro:create_link name="right_motor" mass="1.3838" ixx="0.003352" ixy="-2.6527E-09" ixz="6.5914E-05"
                       iyy="0.0034908" iyz="-7.2968E-10" izz="0.0034856"
                       mesh_file="package://upright_asset/description/meshes/diablo/right_motor.STL"
                       material_name="silver"/>
    <xacro:create_link name="right_leg1" mass="0.10382" ixx="3.6972E-05" ixy="2.4106E-05" ixz="-4.3686E-10"
                       iyy="0.00029278" iyz="4.1459E-11" izz="0.00032532"
                       mesh_file="package://upright_asset/description/meshes/diablo/right_leg1.STL"
                       material_name="silver"/>
    <xacro:create_link name="right_leg2" mass="0.18218" ixx="4.1372E-05" ixy="5.1777E-09" ixz="7.3659E-06"
                       iyy="0.00048219" iyz="4.5225E-11" izz="0.00050441"
                       mesh_file="package://upright_asset/description/meshes/diablo/right_leg2.STL"
                       material_name="silver"/>
    <xacro:create_link name="right_wheel" mass="2.9494" ixx="0.0069339" ixy="-1.3146E-07" ixz="-3.0392E-09"
                       iyy="0.0069339" iyz="-3.5756E-09" izz="0.012567"
                       mesh_file="package://upright_asset/description/meshes/diablo/right_wheel.STL"
                       material_name="black"/>
    <xacro:create_link name="right_leg3" mass="0.071103" ixx="1.6657E-05" ixy="-5.5246E-06" ixz="1.4852E-14"
                       iyy="0.00017966" iyz="-6.5194E-14" izz="0.00019328"
                       mesh_file="package://upright_asset/description/meshes/diablo/right_leg3.STL"
                       material_name="brown"/>

    <xacro:create_joint name="left_j4" type="fixed" parent="diablo_base_link" child="left_motor"
                        origin_xyz="0 0.18755 0" origin_rpy="1.5708 0.13433 -3.1416" axis_xyz="0 0 -1"/>
    <xacro:create_joint name="left_j1" type="fixed" parent="left_motor" child="left_leg1" origin_xyz="0 0 0"
                        origin_rpy="0 0 -2.8729" axis_xyz="0 0 -1"/>
    <xacro:create_joint name="left_j2" type="fixed" parent="left_leg1" child="left_leg2" origin_xyz="0.14 0 0"
                        origin_rpy="0 0 2.8729" axis_xyz="0 0 1"/>
    <xacro:create_joint name="left_j3" type="fixed" parent="left_leg2" child="left_wheel"
                        origin_xyz="0.14 0 0.0537" origin_rpy="0 0 0.13433" axis_xyz="0 0 -1"/>
    <xacro:create_joint name="left_j5" type="fixed" parent="left_motor" child="left_leg3" origin_xyz="0.09 0 0"
                        origin_rpy="0 0 -2.8729" axis_xyz="0 0 1"/>
    <xacro:create_joint name="right_j4" type="fixed" parent="diablo_base_link" child="right_motor"
                        origin_xyz="0 -0.18755 0" origin_rpy="1.5708 0.13433 3.1416" axis_xyz="0 0 -1"/>
    <xacro:create_joint name="right_j1" type="fixed" parent="right_motor" child="right_leg1" origin_xyz="0 0 0"
                        origin_rpy="0 0 -2.8729" axis_xyz="0 0 -1"/>
    <xacro:create_joint name="right_j2" type="fixed" parent="right_leg1" child="right_leg2" origin_xyz="0.14 0 0"
                        origin_rpy="0 0 2.8729" axis_xyz="0 0 1"/>
    <xacro:create_joint name="right_j3" type="fixed" parent="right_leg2" child="right_wheel"
                        origin_xyz="0.14 0 -0.0537" origin_rpy="0 0 -3.0073" axis_xyz="0 0 -1"/>
    <xacro:create_joint name="right_j5" type="fixed" parent="right_motor" child="right_leg3" origin_xyz="0.09 0 0"
                        origin_rpy="0 0 -2.8729" axis_xyz="0 0 1"/>
    <!--TODO： Add close-chian -->
    <gazebo>
        <xacro:create_joint name="left_close_chain" type="fixed" parent="left_leg3" child="left_leg2"
                            origin_xyz="0.1 0 0" origin_rpy="0 0 0" axis_xyz="0 1 0"/>
        <xacro:create_joint name="right_close_chain" type="fixed" parent="right_leg3" child="right_leg2"
                            origin_xyz="0.1 0 0" origin_rpy="0 0 0" axis_xyz="0 1 0"/>
    </gazebo>

    <!-- Finish defining the robot's structure with all links and joints accurately reflecting the URDF structure -->
</robot>
