<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find upright_asset)/description/urdf/common/common.xacro"/>

    <!-- Define transmissions for each joint -->
    <xacro:create_transmission prefix="right" joint_name="j1"/>
    <xacro:create_transmission prefix="right" joint_name="j2"/>
    <xacro:create_transmission prefix="right" joint_name="j3"/>
    <xacro:create_transmission prefix="right" joint_name="j4"/>
    <xacro:create_transmission prefix="right" joint_name="j5"/>

    <xacro:create_transmission prefix="left" joint_name="j1"/>
    <xacro:create_transmission prefix="left" joint_name="j2"/>
    <xacro:create_transmission prefix="left" joint_name="j3"/>
    <xacro:create_transmission prefix="left" joint_name="j4"/>
    <xacro:create_transmission prefix="left" joint_name="j5"/>

</robot>
