<launch>
    <arg name="robot_type" default="ridged_ur5"/>

    <param name="robot_description"
           command="$(find xacro)/xacro $(find mm_assets)/description/OCS2_mobile_manipulator/urdf/ridgeback_ur5.urdf"/>

    <rosparam file="$(find mm_assets)/config/OCS2_mobile_manipulator/robot_def.yaml" command="load"
              ns="robot_def"/>

    <param name="robot_type" value="$(arg robot_type)"/>
    <rosparam file="$(find mm_assets)/config/OCS2_mobile_manipulator/hw.yaml" command="load"/>
    <node name="mobile_manipulator_hw" pkg="mobile_manipulator_hw" type="mobile_manipulator_hw" respawn="false"
          clear_params="true"/>
</launch>